@import '_mixin';

html {
	scroll-behavior: smooth;
}

body {
	background: {
		color: var(--color-theme-background-body);
	}

	color: var(--color-theme-text);
	padding: var(--spacer-32);

	font: {
		family: var(--font-family-serif);
	}
}


@import 'elements/header';
@import 'elements/layout';
@import 'elements/forms';
@import 'elements/home';
@import 'elements/front-page';
@import 'elements/singular';
@import 'elements/cookie-notice';
@import 'elements/lds-spinner';
@import 'elements/footer';
@import 'elements/commons';