.site {
	&-footer {
		font: {
			family: var(--font-family-sans-serif);
		}

		border: {
			top: 1px solid var(--color-theme-01);
		}

		padding: {
			bottom: var(--spacer-16);
			top: var(--spacer-16);
		}

		&-container {
			@include width_inner;

			display: flex;
			justify-content: space-between;
			align-items: center;

			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-light);
		}

		.menu {
			@include reset_ul;
			display: flex;
			gap: var(--spacer-16);

			a {
				color: var(--color-theme-03);
				text-decoration: none;

				&:hover,
				&:focus,
				&:focus-within {
					color: var(--color-theme-accent);
				}
			}
		}
	}
}

#social-menu {
	display: flex;
	gap: var(--spacer-16);

	li {
		line-height: 0;
	}

	svg {
		width: 24px;
		height: 24px;
		fill: var(--color-theme-text-light);
		transition: fill 0.4s;
	}

	a:hover svg {
		fill: var(--color-theme-accent);
	}
}